// Mobile Overrides
@media all and (max-width: 480px) {
  .sidebar {
    width: 80vw !important;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .main-page {
    flex-grow: 1;
  }
}
