<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{application.get_name}} Pensions Form</title>
    <style type="text/css">
        body {
            font-family: 'Times New Roman', Times, serif;
        }

        p {
            font-size: 1.5em;
            text-align: justify;
        }

        @page {
            margin: 1cm;
            size: a4;

            @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: 30pt;
                width: 512pt;
                top: 820pt;
                height: 20pt;
            }
        }

        .fill-in {
            text-decoration: underline;
            font-weight: bold;
            margin-left: 1eme;
        }

        p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    {% if error_message %}
    <h3 style="color: red">{{error_message}}</h3>
    {% else %}
    <div class="report-page">
        <p style="font-weight: bolder; font-size: 2em; text-decoration: underline; text-align: center;">PENSIONS FORM
        </p>
        <p style="text-align: center;">(PENSIONS FORM NO. 1)</p>
        <p style="text-align: center;">(See G. Oo. 384-387)</p>

        <p style="font-weight: bolder; font-style: italic;;">To be submitted in duplicate to the Controller and
            Account-General when application is made for the grant of
            a pension, gratuity or other allowance under Pensions Ordinance, Cap. 30. ( In the case of death gratuity
            Pensions Form No. 2 in applicable).</p>
        <hr>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">1.</p>
                </th>
                <td width="110px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Name of officer</p>
                </td>
                <td>
                    <p
                        style="font-weight: bolder; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed; padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">
                        {{application.get_name}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">2.</p>
                </th>
                <td width="220px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Is he/she an "expatriate officer" as
                        defined by the Pension Ordinance?</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.expatriate}}</p>
                </td>
            </tr>
        </table>


        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">3.</p>
                </th>
                <td width="30px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Office</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.office}}</p>
                </td>
            </tr>
        </table>


        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">4.</p>
                </th>
                <td width="80px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Date of birth</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.dob}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">5.</p>
                </th>
                <td width="330px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">State whether actual pensionable
                        emoluments or average of three years is to be
                        taken:-</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.pensionable_emolument}}</p>
                </td>
            </tr>
        </table>

        <p style="font-weight: bolder;">6.</p>
        <table style="margin-left: 1em;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p>(1) (a) Salary</p>
                    </td>
                    <td>
                        <p style="text-align: right;">GHC <span
                                class="fill-in">{{application.controller_form.salary}}</span></p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <p style="margin-left: 1.45em;">(b) Expatriation Pay </p>
                    </td>
                    <td>
                        <p style="text-align: right;">GHC <span
                                class="fill-in">{{application.controller_form.expatriation_pay}}</span></p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <p style="margin-left: 1.45em;">(c) Any other pensionable allowance </p>
                    </td>
                    <td>
                        <p style="text-align: right;">GHC <span
                                class="fill-in">{{application.controller_form.other_pensionable_emolument}}</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="margin-left: 1.45em;">(d) Total emoluments on which pensions etc. is claimed </p>
                    </td>
                    <td>
                        <p style="text-align: right;">GHC <span
                                class="fill-in">{{application.controller_form.total_emolument}}</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <p style="margin-left: 0.7em;">(2) If, at the time of retirment, the officer has not completed three years
            service
            in the office then held by him, state total pensionable emoluments drawn by him in each
            of the three years immediately preceeding his/her retirement.</p>
        <table>
            <thead>
                <tr style="border: 1px solid black;">
                    <th>
                        <p style="text-align: center; padding: 0.5em;">From</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding: 0.5em;">To</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding: 0.5em;">Pensionable Emoluments</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if application.controller_form.total_pensionable_emoluments_drawn_before_retirements.all %}
                {% for pensionable_emolument_object in application.controller_form.total_pensionable_emoluments_drawn_before_retirements.all %}
                <tr style="border: 1px solid black;">
                    <td>
                        <p style="text-align: center; padding: 0.5em;">
                            {{pensionable_emolument_object.from_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="text-align: center; padding: 0.5em;">
                            {{pensionable_emolument_object.to_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="text-align: center; padding: 0.5em;">{{pensionable_emolument_object.emolument}}</p>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2">
                        <p style="text-align: right; font-weight: bolder; padding: 0.5em;">Aggregate pensionable
                            emoluments:</p>
                    </td>
                    <td style="border: 1px solid black;">
                        <p style="text-align: center; padding: 0.5em;">
                            {{application.controller_form.aggregate_pensionable_emolument}}</p>
                    </td>
                </tr>

                <tr style="margin-top: 10px;">
                    <td colspan="2">
                        <p style="text-align: right; font-weight: bolder; padding: 0.5em;">One-third of aggregate total
                            pensionable emoluments (GHC): </p>
                    </td>
                    <td>
                        <p
                            style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                            {{application.controller_form.one_third_of_aggregate_pensionable_emolument}}
                        </p>
                    </td>
                </tr>

                {% else %}
                <tr>
                    <td colspan="3" style="border: 1px solid black;">
                        <p style="text-align: center; padding: 1em;">N/A</p>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
        <br>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">7.</p>
                </th>
                <td width="410px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Particulars of any additions claimed
                        under the Pensions Regulation</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.additions_claimed}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="20px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">8.</p>
                </th>
                <td width="150px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Cause of retirement</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.reason.reason}}</p>
                </td>
            </tr>
        </table>

        <p><span style="font-weight: bolder;">9.</span> Particulars of offices held by the officer in the Ghanain Public
            Services </p>

        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: center; padding:0.5em;">Title of Office</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em;">If a pensionable Office</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em;">Date of commencement</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em;">Date of termination</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em;">Emoluments <br> (show scale)</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if application.controller_form.office_particulars.all %}
                {% for particulars in application.controller_form.office_particulars.all %}
                <tr>
                    <td>
                        <p style="padding: 0.5em;">{{particulars.title}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em;">{{particulars.if_pensionable}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em;">{{particulars.commencement_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em;">{{particulars.termination_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em;">{{particulars.emoluments}}</p>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text text-center">
                        <p style="text-align: center; padding: 1em;">N/A</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br>

        <pdf:nextpage />

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">10.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;"> State whether the officer is already
                        in receipt or has received any public
                        money as pension, gratuity, compensatio, etc.</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.pension_receipt_status}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">11.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Date of commencement of service under
                        the Ghanain Government for which
                        pension or gratuity is claimed</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.commencement_date}}</p>
                </td>
            </tr>
        </table>


        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">12.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Date of termination of service under
                        the Ghanain Government</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.termination_date}}</p>
                </td>
            </tr>
        </table>

        <p><span style="font-weight: bolder; margin-right: 20px">13. </span> Leave without pay between dates in
            paragraph 11 and 12.</p>

        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">From</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">To</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Months</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Days</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if application.controller_form.no_pay_leaves.all %}
                {% for no_pay_leave in application.controller_form.no_pay_leaves.all %}
                <tr>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{no_pay_leave.from_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{no_pay_leave.to_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{no_pay_leave.get_months}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{no_pay_leave.get_days}}</p>
                    </td>
                </tr>
                {% endfor %}

                <!-- Totals -->
                <tr>
                    <td colspan="2" class="text text-end">
                        <p style="text-align: right; padding: 0.5em;">Total: </p>
                    </td>
                    <td>
                        <p style="text-align: center; font-weight: bolder; padding: 0.5em;">
                            {{application.controller_form.no_pay_leave_total_months}}</p>
                    </td>
                    <td>
                        <p style="text-align: center; font-weight: bolder; padding: 0.5em;">
                            {{application.controller_form.no_pay_leave_total_days}}</p>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <p style="text-align: center; padding: 1em;">N/A</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br>
        <p><span class="number">14.</span> (a) State dates of any breaks in officer's service between dates in paragraph
            11 and 12 other than full or half or without pay.</p>

        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">From</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">To</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Months</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Days</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if application.controller_form.service_breaks.all %}
                {% for service_break in application.controller_form.service_breaks.all %}
                <tr>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{service_break.from_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{service_break.to_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{service_break.get_months}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{service_break.get_days}}</p>
                    </td>
                </tr>
                {% endfor %}

                <!-- Totals -->
                <tr>
                    <td colspan="2" class="text text-end">
                        <p style="text-align: right; padding: 0.5em;">Total: </p>
                    </td>
                    <td>
                        <p style="text-align: center; font-weight: bolder; padding: 0.5em;">
                            {{application.controller_form.service_break_total_months}}</p>
                    </td>
                    <td>
                        <p style="text-align: center; font-weight: bolder; padding: 0.5em;">
                            {{application.controller_form.service_break_total_days}}</p>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <p style="text-align: center; padding: 1em;">N/A</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br>
        <p style="margin-left: 2em;">(b) Quote authority, if already obtained for condonation of any such break in
            service.</p>
        <p style="margin-left: 3.5em;"><span
                class="fill-in">{{application.controller_form.condonation_authority}}</span></p>


        <p style="margin-left: 2em;">(c) State dates of any public service paid for out of open vote (to be states only
            if officer was in public the public service on the 24th August, 1940.</p>
        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">From</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">To</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Months</p>
                    </th>
                    <th>
                        <p style="text-align: center; padding:0.5em; font-style: italic;">Days</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if application.controller_form.paid_open_vote_service.all %}
                {% for paid_open_vote_service in application.controller_form.paid_open_vote_service.all %}
                <tr>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{paid_open_vote_service.from_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">
                            {{paid_open_vote_service.to_date|date:'Y-m-d'}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{paid_open_vote_service.get_months}}</p>
                    </td>
                    <td>
                        <p style="padding: 0.5em; text-align: center;">{{paid_open_vote_service.get_days}}</p>
                    </td>
                </tr>
                {% endfor %}

                <!-- Totals -->
                <tr>
                    <td colspan="2" class="text text-end">
                        <p style="text-align: right; padding: 0.5em;">Total: </p>
                    </td>
                    <td>
                        <p style="text-align: center; padding: 0.5em;">
                            {{application.controller_form.paid_open_vote_service_total_months}}</p>
                    </td>
                    <td>
                        <p style="text-align: center; padding: 0.5em;">
                            {{application.controller_form.paid_open_vote_service_total_days}}</p>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <p style="text-align: center; padding: 1em;">N/A</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <pdf:nextpage />
        <table>
            <tbody>
                <tr>
                    <td>
                        <p><span class="number">15.</span> (a) Period between dates in paragraphs 11 and 12. </p>
                    </td>

                    <td>
                        <table style="border-left: 3px solid black; border-right: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center; text-decoration: wavy;">
                                        {{application.controller_form.service_duration_months}}
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center; text-decoration: wavy;">
                                        {{application.controller_form.service_duration_days}}</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">Months</p>
                                </td>
                                <td>
                                    <p style="text-align: center;">Days</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <table style="border-left: 3px solid black; border-right: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">Months</p>
                                </td>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">Days</p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="margin-left: 1.5em;">(b) One-half of non-penionable service (para. 9): </p>
                    </td>
                    <td>
                        <table style="border-left: 3px solid black; border-right: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">--</p>
                                </td>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">--</p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="margin-left: 1.5em;">(c) Leave without salary (para. 13): </p>
                    </td>
                    <td>
                        <table style="border-left: 3px solid black; border-right: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.no_pay_leave_total_months}}</p>
                                </td>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.no_pay_leave_total_days}}</p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="margin-left: 1.5em;">(d) Break in service (para. 14 (aa)): </p>
                    </td>
                    <td>
                        <table style="border-left: 3px solid black; border-right: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.service_break_total_months}}</p>
                                </td>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.service_break_total_days}}</p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td>
                        <p style="margin-left: 1.5em;">(e) One-third of open vote service (para. 14(c)): </p>
                    </td>
                    <td>
                        <table
                            style="border-left: 3px solid black; border-right: 3px solid black;border-bottom: 3px solid black;">
                            <tr>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.third_open_vote_service_months}}
                                    </p>
                                </td>
                                <td>
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.third_open_vote_service_days}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="margin-left: 1.5em; margin-top: 2em;">(f) Total of (b), (c), and (e) .... ... ... ...
                            ... ... ... ... ... ... ... </p>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <p style="text-align: center;  padding: 0.3em 0;">... ... ... ... ... ...</p>
                                </td>
                                <td
                                    style="border-left: 3px solid black; border-right: 3px solid black;border-bottom: 3px solid black;">
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.total_of_b_c_e_months}}</p>
                                </td>
                                <td
                                    style="border-left: 3px solid black; border-right: 3px solid black;border-bottom: 3px solid black;">
                                    <p style="text-align: center;  padding: 0.3em 0;">
                                        {{application.controller_form.total_of_b_c_e_days}}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="margin-left: 1.5em;">(f) Total pensionable or gratitude service in Ghana ... ... </p>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <p style="text-align: center;  padding: 0.3em 0;">... ... ... ... ... ...</p>
                                </td>
                                <td
                                    style="border-left: 3px solid black; border-right: 3px solid black;border-bottom: 3px solid black;">
                                    <p style="text-align: center;  padding: 0.3em 0;">--</p>
                                </td>
                                <td
                                    style="border-left: 3px solid black; border-right: 3px solid black;border-bottom: 3px solid black;">
                                    <p style="text-align: center;  padding: 0.3em 0;">--</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>


        <table style="margin-bottom: 1em; margin-top: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">16.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;"> State whether the officer has worked
                        under any other scheduled Government or
                        Administration, and, if so, where and between what dates (if known)</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.other_scheduled_work_detail}}</p>
                </td>
            </tr>
        </table>


        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">17.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">In case of self-accounting Department
                        if the officer has served under more
                        than one scheduled Government or Administration completed Pension Form 5 showing the following
                        aggregate pensionable emoluments drawn during his service in Ghana should be attached, and
                        the total should be stated hereunder.</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.form_5_pensionable_emoluments}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">18.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">State whether the officer has served
                        under a non-scheduled Government or
                        Administration, and, if so, where and between what dates. (if known).</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.non_scheduled_work_detail}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">19.</p>
                </th>
                <td width="440px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">State the officer's option if he
                        eligible to exercise one (See G.O 386).</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.non_scheduled_work_detail}}</p>
                </td>
            </tr>
        </table>

        <table style="margin-bottom: 1em;">
            <tr>
                <th width="30px" style="vertical-align:top;">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">20.</p>
                </th>
                <td width="220px">
                    <p style="padding: 0.3em 0 0 0; margin: 0; line-height: 1em;">Date from which, inclusively, the
                        pesion will commence.</p>
                </td>
                <td style="vertical-align: text-top;">
                    <p
                        style="font-weight: bolder; padding: 0.3em 0 0 0; line-height: 1em; margin-left: 1em; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style:dashed;">
                        {{application.controller_form.pension_commencement_date}}</p>
                </td>
            </tr>
        </table>

        <p><span style="font-weight: bolder;">21.</span> I HEREBY CERTIFY that the officer in respect of whom this
            application is
            submitted is not indebted to the Government. (If indebted state amount and proposed method of recovery of
            debt, in covering letter.) </p>
        <br>
        <br>

        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <p style="text-align: center;">
                            ....................................................................</p>
                        <p style="text-align: center;">Head of Department</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>

        <p>
            Reference:.....................................................
            Name:..........................................................................................................
        </p>

        <p>
            .....................................20...............................
            Title:...........................................................................................................
        </p>

        <p>
            Prepared by
            ........................................................................................................................................................................
        </p>

        <pdf:nextpage />
        <p style="text-align: center; font-weight: bolder; font-style: italic;">(To be completed by the Controller and
            Accountant-General)
        </p>
        <p><span class="number">22.</span> I CERTIFY THAT THE
            .................................................................................................................................
        </p>

        <p style="margin-left: 1.5em; text-align: left;">which may be paid to the officer according to the law of Ghana
            amounts to
            ..................................................
            .............................................................................................................................
            based on calculations show
            hereunder.</p>
        <br>

        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <p style="text-align: center;">
                            ....................................................................</p>
                        <p style="text-align: center; font-style: italic; font-weight: bolder;">Controller and
                            Accountant-General</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>

        <table style="margin-left: 2em;">
            <tbody>
                <tr>
                    <td>
                        <p>Reference: .............................................................</p>
                    </td>
                    <td>
                        <p>..........................................20.....................</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <p><span class="number">22.</span> Calculations verified</p>
        <br>
        <br>
        <p style="margin-left: 2em; font-weight: bolder; font-style: italic;">
            ................................................................. Auditor-General</p>
        <br>
        <br>

        <table>
            <tbody>
                <tr>
                    <td>
                        <p>..........................................20.....................</p>
                    </td>
                    <td>
                        <p>Reference: .............................................................</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        <p style="text-align: center;">CALCULATIONS (vide paragraph 22)</p>




    </div>


    <div id="footer_content">
        Page <strong>
            <pdf:pagenumber />
        </strong> of
        <pdf:pagecount /> | {{current_time}}
    </div>
    {% endif %}
</body>

</html>