{% extends 'dashboard/base.html' %}
{% block pagetitle %}New Application{%endblock%}

{% block breadcrum %}
<a href="/" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
<a href="{% url 'dashboard:submitted_applications' %}" class="item">Submitted Applications <i
        class="bi bi-chevron-compact-right"></i></a>
<a class="item">Review Application <i class="bi bi-chevron-compact-right"></i></a>
{%endblock%}


{% block content %}

<div class="col-md-10 mx-auto col-11">
    <div class="col-md-10 col-12 mx-auto">
        <div class="col-12 my-2">
            <h3 class="text text-center">Review</h3>
            <div class="col-md-6 col-12 mx-auto">
                <div class="progress-container mx-auto">
                    <div class="progress" id="progress" data-progress="100"></div>
                    <div class="circle-container">
                        <div class="circles active"><i class="bi bi-calendar"></i></div>
                        <span class="label text text-center text-primary">Particulars</span>
                    </div>
                    <div class="circle-container">
                        <div class="circles active"><i class="bi bi-house"></i></div>
                        <span class="label text text-center text-primary">Uploads</span>
                    </div>
                    <div class="circle-container">
                        <div class="circles active"><i class="bi bi-calendar"></i></div>
                        <span class="label text text-center text-primary">Review</span>
                    </div>
                </div>
            </div>

            {% include 'dashboard/blocks/application_review.html' %}

            <div class="form-group d-flex justify-content-between my-3">
                <button type="button" class="btn btn-primary py-2 px-4" onclick="history.back()"><i
                        class="bi bi-arrow-left"></i> Back</button>

                {% if application.status == 'draft' or application.status == 'rejected' %}
                <form method="POST" action="{% url 'dashboard:application_submission' application.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="application_id" value="{{application.id}}">
                    <button class="btn btn-primary py-2 px-4" type="submit" style="width: 100%;"><i
                            class="bi bi-send"></i>
                        Submit</button>
                </form>
                {% endif %}

            </div>


        </div>
    </div>
</div>
{%endblock%}