{% extends 'dashboard/base.html' %}
{% block pagetitle %}Controller Form Data{%endblock%}

{% block breadcrum %}
<a href="/" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
<a class="item">Submitted Applications <i class="bi bi-chevron-compact-right"></i></a>
<a class="item">Form One Completion Data <i class="bi bi-chevron-compact-right"></i></a>
{% endblock %}

{% block content %}

<!-- Modals -->
<!-- Create/Update total pensionable emoluments drawn before retirement. -->
<div class="modal fade" id="pensionableEmolumentBeforeRetirementModal" tabindex="-1"
    aria-labelledby="pensionableEmolumentBeforeRetirementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="pensionableEmolumentBeforeRetirementModalLabel">Add Pensional Emolument
                    Before retirement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'dashboard:add_pensionable_emolument_before_retirement' application.id %}"
                method="post" class="p-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label ms-4 " for="from_date">From</label>
                    <input type="date" class="ms-4 form-control" name="from_date" id="from_date" required>
                </div>
                <div class="form-group">
                    <label class="label ms-4 " for="to_date">To</label>
                    <input type="date" class="ms-4 form-control" name="to_date" id="to_date" required>
                </div>
                <div class="form-group">
                    <label class="label ms-4 " for="emolument">Emolument</label>
                    <input type="number" class="ms-4 form-control" name="emolument" id="emolument" required>
                </div>
                <div class="form-group ms-4 my-4">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->


<!-- No Pay Leave Modal -->
<div class="modal fade" id="noPayLeaveModal" tabindex="-1" aria-labelledby="noPayLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="noPayLeaveModalLabel">Add No Pay Leave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'dashboard:add_no_pay_leave' application.id %}" method="post" class="p-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label ms-4 " for="from_date">From</label>
                    <input type="date" class="ms-4 form-control" name="from_date" id="from_date" required>
                </div>
                <div class="form-group">
                    <label class="label ms-4 " for="to_date">To</label>
                    <input type="date" class="ms-4 form-control" name="to_date" id="to_date" required>
                </div>
                <div class="form-group ms-4 my-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->

<!-- Break Modal -->
<div class="modal fade" id="serviceBreaksModal" tabindex="-1" aria-labelledby="serviceBreaksModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceBreaksModalLabel">Add a Break</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'dashboard:add_service_break' application.id %}" method="post" class="p-3">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label ms-4 " for="from_date">From</label>
                    <input type="date" class="ms-4 form-control" name="from_date" id="from_date" required>
                </div>
                <div class="form-group">
                    <label class="label ms-4 " for="to_date">To</label>
                    <input type="date" class="ms-4 form-control" name="to_date" id="to_date" required>
                </div>
                <div class="form-group ms-4 my-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->


<!-- Enf of Modals -->

<div class="col-md-10 mx-auto col-11">
    <div class="col-md-10 col-12 mx-auto">
        <div class="col-12 my-2">
            <form class="needs-validation my-4" method="POST" novalidate>
                <h3 class="text text-center">Form One Completion Data</h3>
                <p class="text text-info text-center">You can always save and continue later.</p>
                <div class="col-md-10 mx-auto top-sticky">
                    <div class="form-group d-flex justify-content-between my-3">
                        <button type="button" class="btn btn-primary py-2 px-4" onclick="history.back()"><i
                                class="bi bi-arrow-left"></i> Back</button>
                        <button type="submit" class="btn btn-primary py-2 px-4">Save <i class="bi bi-save"></i></button>
                    </div>
                </div>
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{application.id}}">
                <div class="px-5 card-shadow">
                    <div class="form-group my-2">
                        <label>1. Name of Officer</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" value="{{application.get_name}}" disabled>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="expatriate">2. Is he/she an "expatriate officer" as defined by the Pension
                            Ordinance?</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" name="expatriate" id="expatriate"
                                value="{{application.controller_form.expatriate}}">
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="office">3. Office</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" name="office" id="office"
                                value="{{application.controller_form.office}}">
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="dob">4. Date of birth</label>
                        <div class="col-11 mx-auto">
                            <input type="date" class="form-control" name="dob" id="dob"
                                value="{{application.controller_form.dob|date:'Y-m-d'}}">
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="pensionable_emolument">5. State whether actual pensionable emoluments or average of
                            three years is to be
                            taken.</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" name="pensionable_emolument"
                                id="pensionable_emolument"
                                value="{{application.controller_form.pensionable_emolument}}">
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <p>6.</p>
                        <div class="ms-4">
                            <label for="salary">(1) (a) Salary (GHC)</label>
                            <div class="col-11 mx-auto">
                                <input type="number" class="ms-4 form-control" name="salary" id="salary"
                                    value="{{application.controller_form.salary}}">
                            </div>
                        </div>

                        <div class="form-group my-2 ms-5">
                            <label for="expatriation_pay">(b) Expatriation Pay (GHC)</label>
                            <div class="col-11 mx-auto">
                                <input type="number" class="form-control" name="expatriation_pay" id="expatriation_pay"
                                    value="{{application.controller_form.expatriation_pay}}">
                            </div>
                        </div>

                        <div class="form-group my-2 ms-5">
                            <label for="other_pensionable_emolument">(c) Any other pensionable allowance (GHC)</label>
                            <div class="col-11 mx-auto">
                                <input type="number" class="form-control" name="other_pensionable_emolument"
                                    id="other_pensionable_emolument"
                                    value="{{application.controller_form.other_pensionable_emolument}}">
                            </div>
                        </div>

                        <div class="form-group my-2 ms-5">
                            <label for="total_emolument">(d) Total emoluments on which pensions etc. is claimed
                                (GHC)</label>
                            <div class="col-11 mx-auto">
                                <input type="number" class="form-control" name="total_emolument" id="total_emolument"
                                    value="{{application.controller_form.total_emolument}}">
                            </div>
                        </div>

                        <div class="ms-4">
                            <label>(2) If, at the time of retirment, the officer has not completed three years service
                                in the office then held by him, state total pensionable emoluments drawn by him in each
                                of the three years immediately preceeding his/her retirement.</label>
                            <div class="col-10 mx-auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text text-center">From</th>
                                            <th class="text text-center">To</th>
                                            <th class="text text-center">Pensionable Emoluments</th>
                                            <th class="text text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if pensionable_emolument_objects %}
                                        {% for pensionable_emolument_object in pensionable_emolument_objects %}
                                        <tr>
                                            <td>
                                                <input type="date" class="ms-4 form-control" disabled
                                                    value="{{pensionable_emolument_object.from_date|date:'Y-m-d'}}">
                                            </td>
                                            <td>
                                                <input type="date" class="ms-4 form-control" disabled
                                                    value="{{pensionable_emolument_object.to_date|date:'Y-m-d'}}">
                                            </td>
                                            <td>
                                                <input type="number" class="ms-4 form-control" disabled
                                                    value="{{pensionable_emolument_object.emolument}}">
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard:delete_pensionable_emolument' pensionable_emolument_object.id %}"
                                                    class="btn btn-sm btn-danger ms-4">
                                                    <i class="fa fa-trash"></i>
                                                    delete
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <td colspan="2" class="text text-end">
                                                Aggregate pensionable emoluments:
                                            </td>
                                            <td>
                                                <input type="text" class="ms-4 form-control" disabled
                                                    value="{{aggregate_pensionable_emolument}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text text-end">
                                                One-third of aggregate total pensionable emoluments (GHC):
                                            </td>
                                            <td>
                                                <input type="text" class="ms-4 form-control" disabled
                                                    value="{{one_third_of_aggregate_pensionable_emolument}}">
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="4" class="text text-center">
                                                <p class="text text-info">N/A</p>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-end">
                                    <button class="btn bnt-sm btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#pensionableEmolumentBeforeRetirementModal"><i
                                            class="bi bi-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label for="additions_claimed">7. Particulars of any additions claimed under the Pensions
                            Regulation</label>
                        <div class="col-11 mx-auto">
                            <textarea class="form-control" name="additions_claimed"
                                id="additions_claimed">{{application.controller_form.additions_claimed}}</textarea>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label>8. Cause of retirement</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" id="cause_of_retirement" disabled
                                value="{{application.reason}}">
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label>9. Particulars of offices held by the officer in the Ghanain Public Services</label>
                        <div class="col-md-11 mx-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text text-center">Title of Office</th>
                                        <th class="text text-center">If a pensionable Office</th>
                                        <th class="text text-center">Date of commencement</th>
                                        <th class="text text-center">Date of termination</th>
                                        <th class="text text-center">Emoluments <br> (show scale)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><textarea class="form-control" name="" id="" rows="3"></textarea></td>
                                        <td><textarea class="form-control" name="" id="" rows="3"></textarea></td>
                                        <td><textarea class="form-control" name="" id="" rows="3"></textarea></td>
                                        <td><textarea class="form-control" name="" id="" rows="3"></textarea></td>
                                        <td><textarea class="form-control" name="" id="" rows="3"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="pension_receipt_status">10. State whether the officer is already in receipt or has
                            received any public money as
                            pension, gratuity, compensatio, etc.:-</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="ms-4 form-control" name="pension_receipt_status"
                                id="pension_receipt_status" maxlength="100"
                                value="{{application.controller_form.pension_receipt_status}}">
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label for="commencement_date">11. Date of commencement of service under the Ghanain Government
                            for which pension or
                            gratuity is claimed. </label>
                        <div class="col-11 mx-auto">
                            <input type="date" class="form-control" name="commencement_date" id="commencement_date"
                                value="{{application.controller_form.commencement_date|date:'Y-m-d'}}">
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label for="termination_date">12. Date of termination of service under the Ghanain Government
                        </label>
                        <div class="col-11 mx-auto">
                            <input type="date" class="form-control" name="termination_date" id="termination_date"
                                value="{{application.controller_form.termination_date|date:'Y-m-d'}}">
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label>13. Leave without pay between dates in paragraph 11 and 12. </label>
                        <div class="col-md-11 mx-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text text-center">From</th>
                                        <th class="text text-center">To</th>
                                        <th class="text text-center">Months</th>
                                        <th class="text text-center">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if no_pay_leaves %}
                                    {% for no_pay_leave in no_pay_leaves %}
                                    <tr>
                                        <td><input type="date" class="form-control" disabled
                                                value="{{no_pay_leave.from_date|date:'Y-m-d'}}">
                                        </td>
                                        <td> <input type="date" class="form-control" name="termination_date"
                                                id="termination_date" disabled
                                                value="{{no_pay_leave.to_date|date:'Y-m-d'}}">
                                        </td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{no_pay_leave.get_months}}"></td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{no_pay_leave.get_days}}"></td>
                                        <td>
                                            <a href="{% url 'dashboard:delete_no_pay_leave' no_pay_leave.id %}"
                                                class="btn btn-sm btn-danger ms-4">
                                                <i class="fa fa-trash"></i>
                                                delete
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="2" class="text text-end">
                                            <h6>Total: </h6>
                                        </td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{no_pay_leave_total_months}}"></td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{no_pay_leave_total_days}}"></td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="4" class="text text-center">
                                            <p class="text text-info">N/A</p>
                                        </td>
                                    </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <button class="btn bnt-sm btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#noPayLeaveModal"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <label>14. (a) State dates of any breaks in officer's service between dates in paragraph
                            11 and
                            12 other than full or half or without pay:- </label>
                        <div class="col-md-11 mx-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text text-center">From</th>
                                        <th class="text text-center">To</th>
                                        <th class="text text-center">Months</th>
                                        <th class="text text-center">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if service_breaks %}
                                    {% for service_break in service_breaks %}
                                    <tr>
                                        <td><input type="date" class="form-control" disabled
                                                value="{{service_break.from_date|date:'Y-m-d'}}">
                                        </td>
                                        <td> <input type="date" class="form-control" name="termination_date"
                                                id="termination_date" disabled
                                                value="{{service_break.to_date|date:'Y-m-d'}}">
                                        </td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{service_break.get_months}}"></td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{service_break.get_days}}"></td>
                                        <td>
                                            <a href="{% url 'dashboard:delete_service_break' service_break.id %}"
                                                class="btn btn-sm btn-danger ms-4">
                                                <i class="fa fa-trash"></i>
                                                delete
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="2" class="text text-end">
                                            <h6>Total: </h6>
                                        </td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{service_break_total_months}}"></td>
                                        <td><input type="number" disabled class="form-control"
                                                value="{{service_break_total_days}}"></td>
                                    </tr>

                                    {% else %}
                                    <tr>
                                        <td colspan="4" class="text text-center">
                                            <p class="text text-info">N/A</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <button class="btn bnt-sm btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#serviceBreaksModal"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="ms-4">
                        <label>(b) Quote authority, if already obtained for condonation of any such service_break in
                            service.</label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" name="condonation_authority"
                                id="condonation_authority"
                                value="{{application.controller_form.condonation_authority}}">
                        </div>
                    </div>

                    <div class="ms-4  mt-2">
                        <label>(c) State dates of any public service paid for out of open vote (to be states only if
                            officer was in public the public service on the 24th August, 1940). </label>
                        <div class="col-md-11 mx-auto">
                            <div class="col-11 mx-auto">
                                <input type="text" class="form-control">
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text text-center">From</th>
                                        <th class="text text-center">To</th>
                                        <th class="text text-center">Months</th>
                                        <th class="text text-center">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="date" class="form-control" name=""></td>
                                        <td><input type="date" class="form-control" name=""></td>
                                        <td><input type="number" min="1" class="form-control" name=""></td>
                                        <td><input type="number" min="1" class="form-control" name=""></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>

                    </div>

                    <div class="form-group mt-2">
                        <label>15. (a) Period between dates in paragraphs 11 and 12.- </label>
                    </div>
                    <div class="form-group my-2">
                        <label for="other_scheduled_work_detail">16. State whether the officer has worked under any
                            other scheduled Government or
                            Administration, and, if so, where and between what dates (if known). </label>
                        <div class="col-11 mx-auto">
                            <textarea class="form-control" name="other_scheduled_work_detail"
                                id="other_scheduled_work_detail"
                                rows="3">{{application.controller_form.other_scheduled_work_detail}}</textarea>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="form_5_pensionable_emoluments">17. In case of self-accounting Department if the
                            officer has served under more than one
                            scheduled Government or Administration completed Pension Form 5 showing the following
                            aggregate pensionable emoluments drawn during his service in Ghana should be attached, and
                            the total should be stated hereunder (GHC):-</label>
                        <div class="col-11 mx-auto">
                            <input class="form-control" type="number" name="form_5_pensionable_emoluments"
                                id="form_5_pensionable_emoluments"
                                value="{{application.controller_form.form_5_pensionable_emoluments}}">
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label for="non_scheduled_work_detail">18. State whether the officer has served under a
                            non-scheduled Government or
                            Administration, and, if so, where and between what dates. (if known) </label>
                        <div class="col-11 mx-auto">
                            <textarea class="form-control" name="non_scheduled_work_detail"
                                id="non_scheduled_work_detail"
                                rows="3">{{application.controller_form.non_scheduled_work_detail}}</textarea>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label class="officers_option">19. State the officer's option if he eligible to exercise one
                            (See G.O 386). </label>
                        <div class="col-11 mx-auto">
                            <textarea class="form-control" name="officers_option" id="officers_option"
                                rows="3">{{application.controller_form.officers_option}}</textarea>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <label for="pension_commencement_date">20. Date from which, inclusively, the pesion will
                            commence. </label>
                        <div class="col-11 mx-auto">
                            <input type="date" class="form-control" name="pension_commencement_date"
                                id="pension_commencement_date"
                                value="{{application.controller_form.pension_commencement_date|date:'Y-m-d'}}">
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label>21. I HEREBY CERTIFY that the officer in respect of whom this application is submitted is
                            not indebted to the Government. (If indebted state amount and proposed method of recovery of
                            debt, in covering letter.) </label>
                    </div>


                    <div class="mt-5 d-flex justify-content-end">
                        <div class="col-md-6">
                            <h6 class="text text-center">
                                ....................................................................</h6>
                            <p class="text text-center">Head of Department</p>
                        </div>
                    </div>

                    <div class="mt-3">
                        <span class="text">Reference
                            ................................................................................. </span>
                        <span class="text">Name
                            .........................................................................................................................
                        </span>
                    </div>

                    <div class="mt-3">
                        <span class="text">
                            ..........................................................20....................... </span>
                        <span class="text">Title
                            .........................................................................................................................
                        </span>
                    </div>

                    <div class="mt-3">
                        <span class="text">Prepared by
                            ................................................................................. </span>
                    </div>

                    <div class="form-group d-flex justify-content-end my-3">
                        <button type="submit" class="btn btn-primary py-2 px-4"> <i class="bi bi-save"></i>
                            Save</button>
                        <a href="{% url 'pdf:controller_form' 1 %}" target="_blank"
                            class="btn btn-primary py-2 px-4 ms-3">
                            <i class="bi bi-printer"></i> Print</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}