{% extends 'dashboard/base.html' %}
{% block pagetitle %}New Application{%endblock%}

{% block breadcrum %}
<a href="/" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
<a class="item">New Application <i class="bi bi-chevron-compact-right"></i></a>
<a class="item">Upload <i class="bi bi-chevron-compact-right"></i></a>
{%endblock%}


{% block content %}

<div class="col-md-10 mx-auto col-11">
    <div class="col-md-10 col-12 mx-auto">
        <div class="col-12 my-2">
            <h3 class="text text-center">New Application</h3>
            <div class="col-md-6 col-12 mx-auto">
                <div class="progress-container mx-auto">
                    <div class="progress" id="progress" data-progress="50"></div>
                    <div class="circle-container">
                        <div class="circles active"><i class="bi bi-calendar"></i></div>
                        <span class="label text text-center text-primary">Particulars</span>
                    </div>
                    <div class="circle-container">
                        <div class="circles active"><i class="bi bi-house"></i></div>
                        <span class="label text text-center text-primary">Uploads</span>
                    </div>
                    <div class="circle-container">
                        <div class="circles"><i class="bi bi-calendar"></i></div>
                        <span class="label text text-center">Review</span>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content px-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="photoModalLabel">Take a Photo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="photo-view">
                            <div class="pt-3 mx-auto" style="width: fit-content;">
                                <label for="camerasource">Camera Source</label>
                                <select class="form-control" id="camerasource">
                                        <option value="">--Select camera --</option>
                                    </select>
                            </div>
                            <br>

                            <div class=" mx-auto" style="width: fit-content;">
                                <p class="text text-primary"> * Please ensure that the head fits in the green shape.</p>
                                <div class="preview" style="position: relative; height: 450px; margin: auto;">
                                    <video id="video" width="350" height="450" autoplay
                                        style="position: absolute; top: 0; left: 0;"></video>
                                    <canvas id="canvas_overlay" width="350" height="450"
                                        style="position: absolute; top: 0; left: 0;"></canvas>
                                    <canvas id="canvas" width="350" height="450"
                                        style="border: 1px solid #80808010; position: absolute; top: 50%; left: 0; transform: translateY(-50%);"></canvas>
                                </div>

                                <div class="d-flex my-3 justify-content-start">
                                    <button class="btn btn-primary" id="start-camera">Camera</button>
                                    <button class="btn btn-primary ms-2" id="click-photo">Take a Photo</button>
                                    <button class="btn btn-warning ms-2" id="upload-photo" style="display: none;"><i
                                            class="bi bi-upload"></i> Upload</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <h3 class="text text-bold">Applicant's Photo</h3>
            <div class="p-2 bg-white big-card p-4">
                <div class="col-12 row">
                    <div class="col-12 mb-3">
                        {% if application.photo %}
                        <p class="text text-center">
                            <a href="{{application.photo.url}}" target="_blank">
                                <img height="350" src="{{application.photo.url}}" alt="Applicant's photo">
                            </a>
                        </p>
                        {% endif %}
                        <div class="mx-auto" style="width: fit-content;">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#photoModal" data-bs-whatever="@mdo">Open Camera</button>
                        </div>

                    </div>
                </div>
            </div>

            <br>
            <h3 class="text text-bold">Documents</h3>
            <div class="p-2 bg-white big-card p-4">
                <div class="col-12 row">
                    <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="application_id" value="{{application.id}}">
                        {% for type in document_types %}
                        <div class="mb-3">
                            <label for="{{type.codename}}" class="form-label">
                                <h6>{{type.name}}</h6>
                            </label>
                            <!-- If there are previously uploaded files -->
                            {% if application.documents.all %}
                            <div class="my-1 p-1">
                                <h6 class="text text-primary">Uploaded Files</h6>
                                <!-- Filter to display only this type -->
                                <div class="d-flex flex-wrap">
                                    {% for document in application.documents.all %}
                                    {% if document.document_type == type %}
                                    <p class="m-1 p-1 bg-primary text-light rounded">
                                        <a href="{{document.file.url}}" target="_blank">{{document.file.url}}</a>
                                        <a class="text text-danger delete-document clickable"
                                            data-document-id="{{document.id}}"
                                            data-deletion-url="{% url 'dashboard:delete_application_ducument' %}"><i
                                                class="bi bi-trash"></i></a>
                                    </p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            <input class="form-control" accept=".jpg, .jpeg, .png" type="file" id="{{type.codename}}"
                                name="{{type.codename}}" {% if type.multiple %}multiple{% endif %}
                                {% if type.required and not application.documents.all %}required{% endif %}>
                            <div class="invalid-feedback">
                                Please upload applicant's {{type.name}}.
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-primary">Upload All</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between my-3">
                <button type="button" class="btn btn-primary py-2 px-4" onclick="history.back()"><i
                        class="bi bi-arrow-left"></i> Back</button>
                <a href="{% url 'dashboard:application_form_one_review' application.id %}"
                    class="btn btn-primary  py-2 px-4">Next <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let click_button = document.querySelector("#click-photo");
    let canvas = document.querySelector("#canvas");
    let uploadButton = document.querySelector("#upload-photo");
    let cameraSourceSelector = document.querySelector("#camerasource");
    let canvasOverlay = document.querySelector("#canvas_overlay");
    let CAMERAS

    // Draw rect overlay.
    const WIDTH = 150
    const HEIGHT = WIDTH
    var ctx = canvasOverlay.getContext("2d");
    ctx.strokeStyle = "green";
    ctx.strokeWidth = 10
    ctx.beginPath();
    ctx.setLineDash([5, 5]);
    ctx.ellipse(canvas.width / 2, canvas.height / 2, HEIGHT / 2 + 20, WIDTH / 2, Math.PI / 2, 0, 2 * Math.PI);
    ctx.stroke();


    async function getConnectedDevices(type) {
        const devices = await navigator.mediaDevices.enumerateDevices();
        const videoDevices = devices.filter(device => device.kind === type)
        cameraSourceSelector.innerHTML = ""
        videoDevices.forEach((device, index) => {
            option = document.createElement("option")
            option.innerText = device.label
            option.setAttribute("value", index)
            cameraSourceSelector?.appendChild(option)
        })
        return videoDevices
    }

    // Open camera with at least minWidth and minHeight capabilities
    async function openCamera(cameraId) {
        const constraints = {
            'audio': false,
            'video': {
                'deviceId': cameraId,
                "width": 350,
                "height": 450,
            }
        }
        return await navigator.mediaDevices.getUserMedia(constraints);
    }
    camera_button.addEventListener('click', async function () {
        await startCamera(0)
    });

    cameraSourceSelector?.addEventListener("change", async function (event) {
        await startCamera(event.target.value)
    })

    window.addEventListener("load", async function () {
        CAMERAS = await getConnectedDevices('videoinput');
        await startCamera(0)
    })

    async function startCamera(index) {
        canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
        const stream = await openCamera(CAMERAS[index].deviceId);
        video.srcObject = stream;
        uploadButton.style.display = "none"
    }

    click_button.addEventListener('click', function () {
        const width = video.videoWidth * (video.offsetWidth / video.videoWidth)
        const height = video.videoHeight * (video.offsetWidth / video.videoWidth)
        canvas.setAttribute("height", height)
        canvas.setAttribute("width", width)
        canvas.getContext('2d').drawImage(video, 0, 0, width, height);
        uploadButton.style.display = "unset"
    });


    function getCookie(name = "csrftoken") {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    uploadButton?.addEventListener("click", event => {
        let data = new FormData();
        let image_data_url = canvas.toDataURL('image/jpeg');
        data.append('image_data_url', image_data_url);
        data.append('application_id', "{{application.id}}");
        fetch("{% url 'dashboard:upload_photo' %}", {
            headers: {
                "X-CSRFToken": getCookie('csrftoken'),
            },
            method: "POST",
            body: data
        }).then(res => res.json()).then(res => {
            // Refresh window
            window.location = window.location
        }).catch(err => {
            alert(err)
        })
    })
</script>

{%endblock%}