{% extends 'dashboard/base.html' %}
<title>{% block pagetitle %}Setup{%endblock%}</title>

{% block breadcrum %}
<a href="{% url 'dashboard:index' %}" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
<a href="" class="item">Setup <i class="bi bi-chevron-compact-right"></i></a>
{% endblock %}

{% block content %}

<!-- Modals -->
<!-- Rank Modal -->
<div class="modal fade" id="rankModal" tabindex="-1" aria-labelledby="rankModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="rankModalLabel">Add Rank</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'setup/blocks/forms/form_rank.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of rank Modal -->

<!-- Document type Modal -->
<div class="modal fade" id="documentTypeModal" tabindex="-1" aria-labelledby="documentTypeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="documentTypeModalLabel">Add Document Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'setup/blocks/forms/form_document_type.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Document type Modal -->


<!-- Role Modal -->
<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel">Add Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'setup/blocks/forms/form_role.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Role Modal -->

<!-- User Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'setup/blocks/forms/form_user.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of User Modal -->

<!-- Rank Modal -->
<div class="modal fade" id="retirementReasonModal" tabindex="-1" aria-labelledby="retirementReasonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="retirementReasonModalLabel">Add Retirement Reason</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'setup/blocks/forms/form_retirement_reason.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of rank Modal -->



<!-- End of Modals -->

<div class="row col-md-11 mx-auto">
    <h5 class="mt-3">APPLICATION CONFIGURATION</h5>

    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>RANKS</h6>
                {% if perms.setup.add_rank %}
                <button class="p-0 btn bnt-sm btn-primary" data-bs-toggle="modal" data-bs-target="#rankModal"><i
                        class="bi bi-plus"></i></button>
                {% endif %}
            </div>
            <table class="table table-sm">
                <caption>List of ranks</caption>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Abbreviation</th>
                        <th>Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ranks %}
                    {% for rank in ranks %}
                    <tr>
                        <td>{{rank.name}}</td>
                        <td>{{rank.abbreviation}}</td>
                        <td>{{rank.order}}</td>
                        <td class="d-flex">
                            <a href="{% url 'setup:change_rank' %}?rank_id={{rank.id}}" class="tex text-info">edit</a>
                            <form action="{% url 'setup:delete_rank' %}" method="POST" class="requires-confirmation"
                                data-message="Click on okay to permanently delete this record.">
                                {% csrf_token %}
                                <input type="hidden" name="rank_id" value="{{rank.id}}">
                                <button type="submit" class="text-btn"><span
                                        class="text text-danger">delete</span></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <p class="text text-danger text text-center">No data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </section>

    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>RETIREMENT REASONS</h6>
                {% if perms.setup.add_retirementreason %}
                <button class="p-0 btn bnt-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#retirementReasonModal"><i class="bi bi-plus"></i></button>
                {% endif %}
            </div>
            <table class="table table-sm">
                <caption>List of reasons</caption>
                <thead>
                    <tr>
                        <th>Reason</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reasons %}
                    {% for reason in reasons %}
                    <tr>
                        <td>{{reason.reason}}</td>
                        <td>{{reason.description}}</td>
                        <td class="d-flex">
                            <a href="{% url 'setup:change_retirement_reason' %}?retirement_reason_id={{reason.id}}"
                                class="tex text-info">edit</a>
                            <form action="{% url 'setup:delete_retirement_reason' %}" method="POST"
                                class="requires-confirmation"
                                data-message="Click on okay to permanently delete this record.">
                                {% csrf_token %}
                                <input type="hidden" name="retirement_reason_id" value="{{reason.id}}">
                                <button type="submit" class="text-btn"><span
                                        class="text text-danger">delete</span></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">
                            <p class="text text-danger text text-center">No data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </section>

    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>DOCUMENT TYPES</h6>
                {% if perms.setup.add_applicationdocumenttype %}
                <button class="p-0 btn bnt-sm btn-primary" data-bs-toggle="modal" data-bs-target="#documentTypeModal"><i
                        class="bi bi-plus"></i></button>
                {% endif %}
            </div>
            <table class="table table-sm">
                <caption>List of document types</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Mutiple</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if document_types %}
                    {% for type in document_types %}
                    <tr>
                        <td>{{type.name}}</td>
                        <td>{{type.required}}</td>
                        <td>{{type.multiple}}</td>
                        <td class="d-flex">
                            <a href="{% url 'setup:change_document_type' %}?document_type_id={{type.id}}"
                                class="tex text-info">edit</a>
                            <form action="{% url 'setup:delete_document_type' %}" method="POST"
                                class="requires-confirmation"
                                data-message="Click on okay to permanently delete this record.">
                                {% csrf_token %}
                                <input type="hidden" name="document_type_id" value="{{type.id}}">
                                <button type="submit" class="text-btn"><span
                                        class="text text-danger">delete</span></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <p class="text text-danger text text-center">No data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="col-12">
        <hr>
        <h5>SYSTEM</h5>
    </div>
    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>ROLES</h6>
                {% if perms.auth.add_group %}
                <button class="p-0 btn bnt-sm btn-primary" data-bs-toggle="modal" data-bs-target="#roleModal"><i
                        class="bi bi-plus"></i></button>
                {% endif %}
            </div>
            <p class="text text-secondary">Click on the name of a role to configure permissions.</p>
            <table class="table table-sm">
                <caption>List of roles</caption>
                <thead>
                    <tr>
                        <th class="text text-center">Name</th>
                        <th class="text text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if roles %}
                    {% for role in roles %}
                    <tr>
                        <td><a href="{% url 'setup:manage_role' role.id %}">{{role.name}}</a></td>
                        <td class="d-flex justify-content-center">
                            <a href="{% url 'setup:manage_role' role.id %}" class="tex text-info mx-2">manage</a>
                            <a href="{% url 'setup:change_role' %}?role_id={{role.id}}" class="tex text-info">edit</a>
                            <form action="{% url 'setup:delete_role' %}" method="POST" class="requires-confirmation"
                                data-message="Click on okay to permanently delete this record.">
                                <input type="hidden" name="role_id" value="{{role.id}}">
                                {% csrf_token %}
                                <button type="submit" class="text-btn"><span
                                        class="text text-danger">delete</span></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">
                            <p class="text text-danger text text-center">No data</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>Users</h6>
                {% if perms.accounts.add_user %}
                <button class="p-0 btn bnt-sm btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"><i
                        class="bi bi-plus"></i></button>
                {% endif %}
            </div>
            <table class="table table-sm">
                <caption>List of users</caption>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Region</th>
                        <th>Groups</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.region}}</td>
                        <td>
                            {% if user.groups.all %}
                            {% for group in user.groups.all %}
                            {{group.name}}
                            {% endfor %}
                            {% else %}
                            <p class="text text-danger text text-center">No data</p>
                            {% endif %}
                        </td>
                        <td class="d-flex">
                            <a href="{% url 'setup:change_user' %}?user_id={{user.id}}" class="tex text-info">edit</a>
                            <form action="{% url 'setup:delete_user' %}" method="POST" class="requires-confirmation"
                                data-message="Click on okay to permanently delete this record.">
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                {% csrf_token %}
                                <button type="submit" class="text-btn"><span
                                        class="text text-danger">delete</span></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="col-md-6">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>CONFIGURATION</h6>
            </div>
            <form class="form d-flex justify-content-between" action="{% url 'setup:update_sysconfig' %}" method="post">
                {% csrf_token %}
                <div class="col-md-6 form-group">
                    <label for="name">SMS Sender ID</label>
                    <input class="form-control" value="{{config.sms_sender_id}}" type="text" name="sms_sender_id"
                        id="sms_sender_id" required>
                    <div class="invalid-feedback">
                        Please this field is required.
                    </div>
                </div>
                <div class="col-md-3 mx-2 d-flex mt-4 form-group">
                    <label for="send_sms">Send SMS</label>
                    <input class="mt-1 mx-1 checkbox" type="checkbox" name="send_sms" id="send_sms"
                        {% if config.send_sms %}checked{% endif %}>
                </div>
                <div class="col-md-3 form-group">
                    <br>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save</button>
                </div>
            </form>
        </div>
    </section>
</div>


{%endblock%}