{% extends 'dashboard/base.html' %}

{% load static %}

{% block breadcrum %}
<a href="{% url 'dashboard:index' %}" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
{%endblock%}

{% block content %}

<div class="col-md-10 mx-auto col-11">
    <div class="row col-md-10 col-12 mx-auto">
       <div class="col-12 mx-auto">
           <img src="{% static 'images/404.webp' %}" alt="404 logo" style="width: 80%; margin: auto; display: block;">
       </div>
       <p class="text text-center"><a href="{% url 'dashboard:index' %}" class="btn btn-primary">Home</a></p>
    </div>
</div>


{%endblock%}